<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Electrician an Industrial Category Bootstrap responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Electrician Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="{%  static 'webapp/css1/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{%  static 'webapp/css1/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{%  static 'webapp/css1/flexslider.css' %}" type="text/css" media="screen" property="" />
<!--// css -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{%  static 'webapp/css1/font-awesome.min.css' %}" />
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="{%  static 'webapp/css1/js/main.js' %}"></script>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body style="background-image: url('/static/webapp/images/post1.jpg'); background-repeat: no-repeat; background-size: cover; ">
	<!-- banner -->
    <div class="banner jarallax">
		<div class="agileinfo-dot">
			<div class="w3ls-banner-info-bottom">
				<div class="container">
					<div class="banner-address">
						<div class="banner-address-left">
							<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ahemdabad</p>
						</div>

						<div class="banner-address-left right">
							<p><i class="fa fa-phone" aria-hidden="true"></i> +91 76980 58220</p>
						</div>

						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="header">
                <div class="container">
                    <nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand">Electrical Alliances</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'distributors' %}">Distributors</a></li>
                        </ul>
						<div class="w3_agile_login">
							<div class="cd-main-header">
								<a class="cd-search-trigger" href="#cd-search"> <span></span></a>
								<!-- cd-header-buttons -->
							</div>
                        </div>
						<div class="clearfix"> </div>
						<div class="view">
					</nav>
				</div>
			</nav>
                </div>
            </div>
            <div class="agileits_w3layouts_banner_info">
               <center><img  src="/static/webapp/images/shahlogo1.jpg" style="height:110px;"></center>
                <h3 style="color:black;">Electrical Alliances Services </h3>
                <p style="color:black;">we are hear for best services 24X7 </p>
            </div>
			<div class="agileits_w3layouts_banner_info">
				<div class="agileits_heading_section">
                <h3 style="color:black;">Our Address</h3>
                <p style="color:black;">Office No 12. First Floor Sanidhya Building, Ashram Rd, opp. UCO Bank, Ellisbridge, Ahmedabad, Gujarat 380006</p>
            </div>
        </div>
    </div>
    <!-- //banner -->
	<!-- services -->
<div class="services">
		<div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Welcome to Electrical Services</h3>
				<p class="agileits_w3layouts_para w3_agile_para">Etiam malesuada odio vitae enim malesuada accumsan diam sed.</p>
			</div>
			<div class="w3layouts_skills_grids w3layouts_featured_services_grids">
			<div class="col-md-6 w3_featured_services_right">
					<img src="/static/webapp/images/feedback.jpg" alt=" " class="img-responsive">
				</div>
				<div class="col-md-6 w3_featured_services_left">
					<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-bolt"> </i>
							</div>
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr" style="color:dark orange">
							<h4 style="color:blue">Emergency Services</h4>
                            <p>faster than others</p>
                        </div>
						<div class="clearfix"> </div>
					</div>

					<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-plug" style=""> </i>
							</div>
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4 style="color:blue">Commercial Services</h4>
							<p>Buy a produce in your prices </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3_featured_services_left_grid">
						<div class="col-xs-4 w3_featured_services_left_gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-power-off"> </i>
							</div>
						</div>
						<div class="col-xs-8 w3_featured_services_left_gridr">
							<h4 style="color:blue">  Systems </h4>
							<p>also you can borrow a items</p>
						</div>
						<div class="clearfix"> </div>
					</div>

				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
<!-- stats -->
	<div class="stats">
		<div class="container">
			<div class="col-md-3 w3_counter_grid">
				<div class="w3_agileits_counter_grid">
					<i class="fa fa-umbrella" aria-hidden="true"></i>
				</div>
				<p class="counter" style="color:black;">1200</p>
				<h3 style="color:black;">Orders Completed</h3>
			</div>
			<div class="col-md-3 w3_counter_grid">
				<div class="w3_agileits_counter_grid">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
				<p class="counter" style="color:black;">2</p>
				<h3 style="color:black;">Crew Members</h3>
			</div>
			<div class="col-md-3 w3_counter_grid">
				<div class="w3_agileits_counter_grid">
					<i class="fa fa-comments" aria-hidden="true"></i>
				</div>
				<p class="counter" style="color:black;">1</p>
				<h3 style="color:black;">Developed by</h3>
			</div>
			<div class="col-md-3 w3_counter_grid">
				<div class="w3_agileits_counter_grid">
					<i class="fa fa-book" aria-hidden="true"></i>
				</div>
				<p class="counter" style="color:black;">5</p>
				<h3 style="color:black;">country  Covered</h3>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //stats -->
<!-- stats -->
	<script src="{%  static 'webapp/css1/js/jquery.waypoints.min.js' %}"></script>
	<script src="{%  static 'webapp/css1js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!-- team -->
<div class="banner-bottom">
		<div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">meet our team</h3>
			</div>
			<div class="w3ls_banner_bottom_grids">
				<div class="col-md-3 agile_team_grid">
					<div class="agileits_w3layouts_team_grid">
						<img src="/static\webapp\images\utsav.jfif" alt=" " class="img-responsive">
					</div>
					<h4> kamil</h4>
					<p>Devlopers</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agileits_w3layouts_team_grid">

						<img src="" alt=" " class="img-responsive">
					</div>
					<h4>utsav500</h4>
					<p>main Admin</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agileits_w3layouts_team_grid">

						<img src="/static\webapp\images\1.jfif" alt=" " class="img-responsive">
					</div>
					<h4> members</h4>
					<p>partner</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
<div class="banner-bottom">
		<div class="container">
            <div class="agileits_heading_section">
				<h3 class="wthree_head">Our Location </h3>
			</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.970293615808!2d72.56905631444225!3d23.024862922021512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84f4853c0001%3A0xcaaf3422be95a142!2sTechmicra%20IT%20Solutions!5e0!3m2!1sen!2sin!4v1575009871351!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
	</div>


</div>
</body>
</html>

